@use "../../variables" as *;

.event_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 30px;
}

.events-form-head {
  text-align: center;
  background-color: $color-secondary;
  font-size: 1.5rem;
  color: $color-white;
}

label {
  font-size: 1.2rem;
}

.form-input {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  margin: 10px;
}

.form-input input,
.form-input select,
.form-input textarea,
.event_form button {
  /* border: none; */
  outline: none;
  width: 300px;
  height: 25px;
}

.event_form button {
  margin: 10px;
  align-self: center;
  background-color: $color-secondary;
  border: none;
  color: white;
  font-size: 16px;
  padding: 4px;
}
