@use "../../variables" as *;

.add-events {
  text-align: center;
  & button {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: rgba($color-secondary, 0.5);
    color: $color-black;
    outline: none;
    border: none;
  }
}

// Plans - in the Plans file

.my-plan {
  padding: 1rem;
  width: 40rem;

  & h3 {
    font-size: 2rem;
    text-align: center;
    margin: 0, 0.4rem;
    margin-bottom: 0.7rem;
  }

  & p {
    font-size: 1.6rem;
    text-align: justify;
    margin: 0.7rem 0;
  }

  & span {
    display: block;
    font-size: 1.3rem;
    margin: 0.7 0;
    text-align: center;
    color: $color-primary;
  }

  & button {
    padding: 1rem;
    text-decoration: none;
    border: none;
    width: 40%;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;

    &:first-of-type {
      background-color: $color-red;
      color: $color-white;
    }
    &:last-of-type {
      background-color: $color-secondary;
      color: $color-white;
    }
  }
}
