@use "../../variables" as *;
.no-events {
  font-size: 1.5rem;
}

.add-events {
  text-align: center;
  & button {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: rgba($color-secondary, 0.5);
    color: $color-black;
    outline: none;
    border: none;
  }
}

// Plans
.plan-link {
  text-decoration: none;
  color: $color-black;
}

.my-plan {
  padding: 1rem;
  box-shadow: 1px 1px 5px black;

  & h3 {
    font-size: 1.7rem;
    margin: 0, 0.4rem;
  }

  & p {
    font-size: 1.5rem;
  }

  & button {
    padding: 1rem;
    border: none;
    width: 40%;
    margin-left: 1.5rem;
    border-radius: 0.5rem;

    &:first-of-type {
      background-color: $color-red;
      color: $color-white;
    }
    &:last-of-type {
      background-color: $color-secondary;
      color: $color-white;
    }
  }

  &:hover {
    background-color: rgb(246, 246, 246);
    cursor: pointer;
  }
}
