@use "./../variables" as *;

.header {
  min-height: 100vh;
  background: linear-gradient(
      rgba($color-primary, 0.5),
      rgba($color-secondary, 0.5)
    ),
    url("../../assets/images/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7rem;

  & .page-navigation {
    display: flex;
    align-items: self-end;
  }

  & .header_information {
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
    margin-left: 15rem;

    & h1 {
      font-size: 5rem;
      text-align: center;
      margin: 0;
    }
    & p {
      font-size: 1.7rem;
      width: 55%;
      margin: 0.5rem;
    }

    & .header_buttons {
      display: flex;
      align-items: center;
      gap: 4rem;

      & button,
      & a {
        width: 15rem;
        height: 4rem;
        border: none;
        outline: none;
        background-color: rgba($color-primary, 0.8);
        color: $color-white;
        font-weight: bolder;
        border-radius: 4rem;

        &:hover {
          cursor: pointer;
          background-color: $color-secondary;
        }
      }

      & a {
        text-decoration: none;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  & .header_image {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 35rem;
      height: 30rem;
    }
  }
}
