@use "../../../variables" as *;

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4rem;
  min-height: 50rem;
  width: 32rem;
  border: 1px solid $color-secondary-fifty;

  & img {
    width: 100%;
    background: $color-primary;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
  }

  & h2 {
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: bold;
    color: $color-primary;
  }

  & p {
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: justify;
  }

  & button {
    border-radius: 4rem;
    padding: 1rem;
    width: 50%;
    outline: none;
    border: none;
    color: $color-white;
    background: $button_color;
  }
}
