@use "../../../variables" as *;

.homepage {
  margin: 5rem 0;

  & .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    background-color: $color-primary-20;
    padding: 3rem;
    border: 1px solid black;

    & .about {
      border: 1px solid $grey-light;
      padding: 1rem;
      width: 70%;

      & h2 {
        font-size: 3rem;
        text-align: center;
        color: $color-primary;
        margin: 0.7rem;
      }

      & p {
        font-size: 1.5rem;
        text-align: justify;
      }
    }
  }

  & .features {
    // border: 1px solid black;

    & h2 {
      font-size: 3rem;
      text-align: center;
      color: $color-primary;
    }

    & .cards {
      margin: 3rem 0;
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
    }
  }
}
