@use "../variables" as *;

// The CREATE GOAL FORM FOR THIS
.create-goal-form {
  display: flex;
  width: 20%;
  flex-direction: column;
  padding: 1rem;
}

// THe goals page

.my-goals {
  // padding: 1rem;
  &-header {
    padding: 2rem;
    text-align: center;
  }

  & .goal-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    padding: 1rem;
    border-bottom: 2px solid $grey-light;
    margin: 0 3rem;
    margin-top: 0.5rem;

    & .goal-actions {
      display: flex;
      gap: 1.5rem;

      & input,
      select,
      a {
        border: none;
        outline: none;
        padding-left: 0.5rem;
        border-radius: 0.5rem;
        height: 3rem;
        align-self: center;
      }

      & a {
        background: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        width: 8rem;
        font-size: 1.3rem;
        padding: 0 1.5rem;
        text-decoration: none;
      }
    }
  }

  &-body {
    margin: 0 3rem;
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;

    & .goals-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & h3 {
        margin: 0.5rem 0;
        font-size: 1.5rem;
        background: $color-secondary;
        color: $color-white;
        padding: 0.5rem;
      }

      & .goals {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 1rem;
        flex-wrap: wrap;
      }
    }
    & .affirm {
      width: 24%;
      & h4 {
        margin: 0.5rem 0;
        font-size: 1.5rem;
      }
      & ol {
        font-size: 1.3rem;
        margin-left: 2rem;
      }
    }
  }
}

// THE GOAL CARD ON THE PAGE
.goal-card {
  border: 1px solid $grey-light;
  width: 24rem;

  & p {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  & a {
    height: 2rem;
    width: 2rem;
    border: none;
    font-size: 2rem;
    align-self: center;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    & .delete {
      color: red;
      margin-left: 0.3rem;
    }

    & .edit {
      color: green;
      margin-left: 1rem;
    }
  }
}
