@use "../variables" as *;

// THe header on the Planner page
.all-plans-head {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  & h2 {
    color: $color-primary;

    & span {
      font-family: cursive;
    }
  }
}

.plans-routine {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: relative;

  & .all-plans {
    width: 75%;
    display: flex;
    gap: 5rem;
    padding: 1.5rem;

    & .in-progress {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & h2 {
        color: $color-primary;
        font-size: 1.8rem;
      }
    }
  }

  & .routines {
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 3rem;
    margin-top: 1.5rem;

    & div {
      margin-top: 2rem;

      & h3 {
        background-color: $color-secondary;
        color: $color-white;
        padding: 0.7rem;
      }

      & ul {
        padding-left: 3rem;
        font-size: 1.3rem;
      }
    }
  }
}
