.view-body{
  border: 1px solid red;
  padding: 10px;
}

.bg-pic{
  width: 100%;
  border: 1px solid black;
}
 .bg-pic img{
  display: block;
  width: 100%;
 }

 .profile-info{
  border: 1px solid green;
  display: flex;
  width: 100%;
  /* gap: 20px; */
  justify-content: space-evenly;
 }

.pic{
  position: relative;
  border: 1px solid blue;
  width: 10%;
  top: -30px;
}
.pic img{
  border-radius: 50%;
}

.teacher-info{
  border: 1px solid purple;
  width: 25%;
}

.followers{
  border: 1px solid orange;
  display: flex;
  gap: 25px;
  width: 20%;
}
.profile-action{
  border: 1px solid pink;
  width: 25%;
}