// My color styles

// $color_primary: #01b3ef;
$color-secondary: #00b2ee;
$color-secondary-light: #6dcffb;

$button_color: #e14177;
$grey-dark: #6c6c6c;
$grey-light: #afafaf;
$color-white: #f4f9fd;

$color-primary: #1d7a85;

$color-secondary-fifty: rgba(29, 122, 133, 0.3);

$color-primary-dark: #042a2e;
