// My color styles

$grey-dark: #6c6c6c;
$grey-light: #afafaf;
$color-white: #f4f9fd;

// $color-primary: #1d7a85; -- first one
// $color-primary: #278ddb;
$color-primary: #074173; //navy
$color-secondary: #1679ab; //blue
$color-tertiary: #5debd7; //mint

$color-black: #332941; //black
$color-cyan: #1cabe2; //cyan

$color-yellow: #f8e559; //yellow

$color-green: #c5ff95;
$color-red: rgba(246, 43, 43, 0.7);
$color-black: #1e1e1e;

// new color palette
$biege-dark: #d8ae7e;
$biege-tertiary: #f8c794;
$biege-secondary: #ffe0b5;
$biege-primary: #fff2d7;
