@import "./components/";

@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  box-sizing: border-box;
}
