@import "./components/";
@import "./screens/";

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/addons/dragAndDrop/styles"; // if using DnD

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  box-sizing: border-box;
}
