@use "../../variables" as *;

.forum-files {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 1rem;
  width: 45%;
  border-radius: 0.5rem;

  & h5 {
    font-size: 1.2rem;
  }

  & h2 {
    font-size: 1.5rem;
  }
}

.all-files {
  background-color: rgba($color-secondary, 0.3);
  padding: 0.5rem;

  & .file-icon {
    color: $color-secondary;
  }
}

.links {
  background-color: rgba($grey-light, 0.1);
}
