@use "../../variables" as *;

// The forum details
.forum-intro {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem 0.7rem;
  border-bottom: 1px solid #ccc;

  & img {
    border: 1px solid $grey-light;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 100%;
  }

  & h3 {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  & p {
    font-size: 1.1rem;
    color: $grey-dark;
  }

  & button {
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 0.2rem 0;

    & .forum-info {
      color: $color-black;
      text-decoration: none;

      & h3 {
        padding: 0.3rem;
      }

      & p {
        padding: 0.1rem 0.3rem;
        font-size: 1.1rem;
      }
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
    color: $color-white;
  }
}
