@use "../../variables" as *;

.forum-intro {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  // position: sticky;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-30;
  }

  & img {
    border: 1px solid $grey-light;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
  }

  & h3 {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  & p {
    font-size: 1.1rem;
  }
}
