@use "../../variables" as *;

.dashboard-side-nav {
  height: 95dvh;
  // background: whitesmoke;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;

  & .logo {
    padding-left: 2rem;
    & img {
      width: 3rem;
      height: 3rem;
    }
  }

  & .dash-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    // height: 95dvh;
    width: 8rem;
    // list part
    list-style-type: none;

    // border-bottom: 5px solid $color-grey;
  }
  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    color: $grey-light;

    &.active {
      color: $color-secondary;
      background-color: rgba($color-secondary, 0.2);
      border-radius: 0.5rem;
    }

    & span {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }
  }
  & .dash-side-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.7rem;
    width: 100%;
  }
}
