@use "../../variables" as *;

.dashboard-side-nav {
  height: 98vh;
  width: 10%;
  background-color: $color-primary;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;

  & .dash-side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    width: 100%;
    // list part
    list-style-type: none;
  }

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    width: 100%;
    color: $color-white;

    &.active {
      font-weight: bolder;
      border-radius: 0.5rem;
    }

    & span {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }
  }
  & .dash-side-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.7rem;
    width: 100%;
  }
}

@media only screen and (min-width: 675px) {
}
