@use "../../variables" as *;

.user-profile {
  display: flex;
  height: 5vh;
  padding-right: 1.5rem;
  right: 0;
  justify-content: flex-end;
  background-color: $color-secondary;

  gap: 3rem;

  & .user-actions {
    display: flex;
    gap: 3rem;
    align-items: center;

    & button {
      background: none;
      outline: none;
      border: none;
    }

    & a {
      color: $grey-light;
      // color: $color-secondary;
      font-size: 2rem;
      font-weight: bold;
      padding: 0rem;

      &:active {
        // background-color: rgba($color-secondary, 0.2);
        color: $color-white;
        border-radius: 0.5rem;
      }
    }
  }
}
